
:root {
	--brand-primary: #403f4c;
	--brand-primary-1: #666570;
	--brand-primary-2: #8c8c94;
	--brand-accent: #efbcd5;
	--brand-red: #e84855;
	--brand-yellow: #f9dc5c;
	--brand-blue: #3185fc;

	/* background */
	--background-color: #f5f5f3;

	/* border */
	--border-color: #d9d9db;
}
