.container {
	position: fixed;
	flex-shrink: 0;
	width: var(--sidebar-width);
	height: calc(100% - var(--topbar-height));
	padding: 5px;
	background-color: #fff;
}

.menu_list {
	display: block;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.menu_item {
	display: block;
	padding: 5px 2px;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 2px;

	&:hover {
		background-color: rgb(143 153 168 / 15%);
	}
}

.menu_icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	color: #5f6b7c;
}

.menu_title_text {
	margin: 0;
	font-size: 0.8em;
	color: #1c2127;
	text-align: center;
}

.menu_item_active {
	background-color: rgb(45 114 210 / 10%);

	.menu_icon_container {
		color: #215db0;
	}

	.menu_title_text {
		color: #215db0;
	}
}
