.container {
	display: flex;
	min-height: 40px;
	padding: 4px 0;
	border-bottom: 1px solid var(--border-color);
}

.key_container {
	width: 300px;
	padding: 2px 4px;
	color: #888;
	border: 1px solid transparent;
}

.value_text_read {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 2px 4px;
	border: 1px solid transparent;

	&:hover {
		border-color: #efefef;
	}
}

.value_container {
	flex: 1;
}

@keyframes rotate {
	100% {
		transform: rotate(-360deg);
	}
}

.loader {
	width: 12px;
	height: 12px;
	animation: rotate 2s ease-in-out infinite;
}
