.container {
	--topbar-height: 50px;
	--sidebar-width: 70px;

	position: relative;
	display: block;
	height: 100vh;
	background-color: #f6f7f9;
}

.inner_container {
	display: flex;
	height: 100%;

	&.has_topbar {
		padding-top: var(--topbar-height);
	}
}
